.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform
.terraform.tfstate
.helloworld.pem
.terraform.tfstate.backup
gradflow-keypair.pem

.env.users_create
.env.users_delete
.env.users_list
.env.users_search
.env.users_update