/* Página */
.admin-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #16922b, #5caf81);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 1rem;
}

/* Tarjeta principal */
.admin-card {
  width: 100%;
  max-width: 1100px;
  background: #0c90b1;
  border-radius: 14px;
  padding: 2.5rem;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.45);
  color: rgb(0, 0, 0);
}

/* Título */
.admin-card h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Barra de acciones */
.admin-actions {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.admin-actions input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
}

.admin-actions button {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.admin-actions button:first-of-type {
  background: #4427c2;
  color: white;
}

.admin-actions button:last-of-type {
  background: #2f1ecc;
  color: white;
}

/* Contenedor tabla */
.table-wrapper {
  background: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  overflow-x: auto;
}

/* Tabla */
.user-table {
  width: 100%;
  border-collapse: collapse;
  color: #020617;
}

.user-table th,
.user-table td {
  padding: 0.75rem;
  text-align: left;
}

.user-table th {
  background: #ffffff;
  font-weight: 600;
}

.user-table tr:nth-child(even) {
  background: #f8fafc;
}

/* Acciones */
.user-actions {
  display: flex;
  gap: 0.5rem;
}

.user-actions button {
  background: #ffffff;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
}

.user-actions button:hover {
  background: #e5e7eb;
}
